:root {
    --red: #E63946;
    --lightgreen: #F1FAEE;
    --lightblue: #A8DADC;
    --blue: #457B9D;
    --darkblue: #1D3557;
}

@font-face {
    font-family: 'Montserrat';
    src: url('public\Font-Family\OFL.txt');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.text-red{
    color: var(--red) !important;
}

.bg-red{
    background-color:  var(--red) !important;
}

.text-lightgreen{
    color:  var(--lightgreen) !important;
}

.bg-lightgreen{
    background-color:  var(--lightgreen) !important;
}

.text-lightblue{
    color:  var(--lightblue) !important;
}

.bg-lightblue{
    background-color:  var(--lightblue) !important;
}

.text-blue{
    color:  var(--blue) !important;
}

.bg-blue{
    background-color:  var(--blue) !important;
}

.text-darkblue{
    color:  var(--darkblue) !important;
}

.bg-darkblue{
    background-color:  var(--darkblue) !important;
}

.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    height: 240px;
}

/* search */
.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--darkblue) !important;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}
