:root {
    --red: #E63946;
    --lightgreen: #F1FAEE;
    --lightblue: #A8DADC;
    --blue: #457B9D;
    --darkblue: #1D3557;
}

@font-face {
    font-family: 'Montserrat';
    src: url('public\Font-Family\OFL.txt');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.text-red{
    color: var(--red) !important;
}

.bg-red{
    background-color:  var(--red) !important;
}

.text-lightgreen{
    color:  var(--lightgreen) !important;
}

.bg-lightgreen{
    background-color:  var(--lightgreen) !important;
}

.text-lightblue{
    color:  var(--lightblue) !important;
}

.bg-lightblue{
    background-color:  var(--lightblue) !important;
}

.text-blue{
    color:  var(--blue) !important;
}

.bg-blue{
    background-color:  var(--blue) !important;
}

.text-darkblue{
    color:  var(--darkblue) !important;
}

.bg-darkblue{
    background-color:  var(--darkblue) !important;
}

.content{
    display: flex;
    flex-direction: column;
    min-height: 61.75vh;
}

footer{
    height: 28.60vh;
}
