.event-image {
    display: block;
    max-width: 320px;
    max-height: 320px;
    width: auto;
    height: auto;
}

.event-item:hover {
    transform: translate(-4px, -4px);
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.event-card {
    text-decoration: none;
    color: inherit;
}

.event-card:hover {
    text-decoration: none;
    color: var(--red);
}

.event-card--number {
    width: 80px; font-weight: bold; font-size: 4rem; color: #444; text-decoration:underline
}

.event-card:hover .event-card--number {
    color: var(--red)
}
