.sidebar {
    width: 240px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    /* padding: 20px 12px; */
    /* height: calc(100vh - 96px); */
    height: -moz-fit-content;
    height: fit-content;
    /* overflow-y: auto; */
    padding-bottom: 40px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
    border: 3px solid black;
}

.sidebar--title {
    padding: 12px 20px;
    font-weight: bold;
    font-size: 1.3rem;
}

.menu {
    margin: 0px;
    padding: 0px;
}

.menu-item {
    padding: 12px 20px;
    list-style: none;
    font-weight: 500;
}

.menu-item:hover {
    background-color: var(--red);
    color: white;
    cursor: pointer;
}

body {
    height: 400vh;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(var(--lightgreen) 0.5px, transparent 0.5px), radial-gradient(var(--darkblue) 0.5px, var(--lightgreen) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.dashboard-content {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    min-height: 80vh;
    height: -moz-fit-content;
    height: fit-content;
    width: calc(100% - 320px);
    border: 3px solid black;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
    padding: 40px 20px;
}

.dashboard-content--title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 12px;
}
